<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - CryptoForum</title>
    <style>
        p {
        color: #fff;
        }
        li {
        color: #fff;
        }
        .reg-button{
        margin: 10px;
        color: #fff;
        background-color: #28a745;
        border-radius: .25rem;
        border-color: #28a745;
        border: transparent;
        }
    </style>
</head>
<body>
<!--/templates/register.html-->

{% extends 'home.html' %}

{% block greeting %}
<h2>Register</h2>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="reg-button" type="submit" value="Register">
</form>

<a href="{% url 'home' %}">Back to login</a>
{% endblock %}
</body>
</html>